<!--
  Author: Mark Randall
  Date: September 24th, 2021
  COMP229 Web App Development
  Fall Semester
-->

<%- include ../partials/header.ejs %>

  
<%- include ../partials/main_nav.ejs %>
  
<%- include ../partials/title.ejs %>

<!-- About page content -->
<div class="container">
    <img src="/Assets/images/HeadShoulder2.jpeg" class="float-lg-start picture pe-lg-3" alt="Profile Picture">  
        <p class="mt-5 fs-5">   My name is Mark Randall I am 34 years old and currently a second year student in my third semester of the Artificial Intelligence program at Centennial College.
          <br><br>Before coming back to school I had spent many years working in a faced paced envirmonment in a management position at a very busy grocery store.  One of the many skills I was able to pick up and perfect during my time there was time management.
          <br><br>This combined with my great work ethic have allowed me to do some great things so far and the journey is far from over.
          <br>
          <br>I had never had any coding experience before entering this program, however it didn't take me long to realize that I had found my passion.
          <br><br>The thing that apppeals to me so much about writing code and building software of any kind is the creative freedom.  I like problem solving and enjoy any situation that is challenging and makes me apply my critical thinking skills.
          <br>If your interested in a deeper look at my skills and qualifications please see my resume <a href="Assets/Mark_Resume.pdf" target="blank">here</a>.
      </p>
  
</div>

<br><br>

<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>