<!--
  Author: Mark Randall
  Date: September 24th, 2021
  COMP229 Web App Development
  Fall Semester
-->

<%- include ../partials/header.ejs %>

  
<%- include ../partials/main_nav.ejs %>
  
<%- include ../partials/title.ejs %>

<!-- Services page content -->
<!-- Main Grid -->
<div class="container">
  <div class="row">
    <div class="col">
      <img src="Assets/images/codePic_csharp.jpg" class="service-picture float-md-end" alt="C sharp logo">
    </div>
    <div class="col">
      <p class="fs-4 mt-5">C# is probably my favorite language so far.  I am capable of building relatively complex GUI programs with multiple classes. I am also comfortable with using LINQ to perform queries</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="fs-4 mt-5">I also really enjoy coding in python and am familiar enough with the language to build multi-class programs, work with various data structures and even build simple GUI based games</p>
    </div>
    <div class="col">
      <img src="Assets/images/codePic_python.jpg" class="service-picture" alt="python logo">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img src="Assets/images/codePic_web.jpg" class="service-picture float-md-end" alt="Web desing code">
    </div>
    <div class="col">
      <p class="fs-4 mt-5">Web design is always fun and rewarding.  I understand HTML and CSS enough to build basically anything and can employ Javascript to make the pages dynamic.</p>
    </div>
  </div>
</div>
<br><br>


<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>